
.checkOutButton{
    width:120px;
    height:35px;
    border-radius:5px;
    background-color:teal;
    color:white;
    outline:none;
}

.checkOutButtonClick:active{
    box-shadow: 3px 5px lightgray;
    transform:translateY(1px);
}