/*for Incomes*/
.categoryHeader{
    height: 99%;
    padding-top: 20px;
    padding-left: 5px;
}
.categoryHeaderContainer{
    color: teal;
    font-weight: bold;
    user-select: none;
}
.catHeaderVLine{
    border-right: 1px solid lightgray;
}
.addPopUpHover:hover{
    background-color: lightgray;
}
.incomeInputAdd{
    border-bottom: 1px solid blue;
}
.ionItem{
    margin-top: 20px;
    margin-bottom: 20px;
}
.incomeChoiceInputAdd{
    width: 100%;
    border-bottom: 1px solid blue;
}
.incomeAdded{
    margin-left: 5px;
    margin-right: 5px;
}
.incomeAddedHover:hover{
    user-select: none;
    border: 1px solid teal;
}
.catContentName{
    color: blue;
    margin-top: 10px;
    text-align: center;
    user-select: none;
    text-decoration: underline;
}
.itemDelete{
    color: red;
    padding: 5px;
    border-radius: 50%;
}
.itemDeleteHover:hover{
    border-radius: 50%;
    background-color: lightgray;
}
.noItemContainer{
    user-select: none;
    color: blue;
}
.noItemIcon{
    color: sienna;
}
.noItemLabel{
    padding-left: 10px;
}
.noItemHover:hover{
    text-decoration: underline;
}
.displayItemContainer{
    user-select: none;
    padding: 10px;
    font-size: 20px;
    margin-left: 20px;
}
