.iconStyle{
    font-size:20px;
}

.onHover:hover{
    color:red;
}

.loginBottomNavHover:hover{
    cursor: pointer;
    color:navy;
    background-color: gray;
}

.loginBottomNavStyle{
    text-align:center;
    padding:5px;
    color:black;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.icon{
    vertical-align: top;
}
